<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Building age:</strong>
  <%= @property.building_age %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @property.remarks %>
</p>
<hr>
<% if @stations.count > 0 %>
  <%@num = 0%>
  <% @stations.each do |station| %>
    <h3>Nearest Station<%= @num += 1%></h3>
    <p>
      <strong>Name of railway:</strong>
      <%= station.railway_name %>
    </p>
    <p>
      <strong>Station name:</strong>
      <%= station.station_name %>
    </p>
    <p>
      <strong>How many minutes walk:</strong>
      <%= station.distance %>min/mins
    </p>

  <%end %>
<% else %>
  <p>
      <strong>No station add yet</strong>
      
  </p>
<%end %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
